body {
  margin: 0;
  padding: 0;
}

div#filler {
  margin: 0;
  padding: 0;
}

div.col1, div.col2, div.col3 {
  position: static;
  margin: 0;
  padding: 0;
  padding-top: 24px;
  float: left;
}

div.header {
  position: fixed;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #09110f;
}

div.header img {
  position: relative;
}

p.title, p.subtitle {
  position: fixed;
  margin: 0;
  padding: 0;
  width: 100%;
  color: #ffffff;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, "Verdana", "Arial", sans-serif;
  text-align: center;
}

p.title {
  z-index: 1;
  font-size: 72px;
  letter-spacing: -6px;
}

p.subtitle {
  z-index: 2;
  font-size: 16px;
}

/*navigator stuff*/
div.tab {
  position: fixed;
  margin: 0;
  padding: 0;
  clear: both;
  width: 100%;
  background-color: #12231e;
}

ul.nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul.nav li {
  box-sizing: border-box;
  margin: 0;
  padding: 0 16px;
  float: left;
  color: #5DB199;
  font-size: 16px;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, "Verdana", "Arial", sans-serif;
  text-align: center;
}

ul.nav li:hover, div.menu-tab li:hover, .nav-btn:hover {
  background-color: #25463d;
}

/*phone menu stuff only*/
.nav-btn {
  margin-right: 8px;
  float: right;
  height: 100%
}

div.menu-tab {
  display: none;
  position: fixed;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #12231e;
}

div.menu-tab ul {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style-type: none;
}

div.menu-tab li {
  margin: 0;
  padding: 12px 16px;
  box-sizing: border-box;
  color: #5DB199;
  font-size: 16px;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, "Verdana", "Arial", sans-serif;
}

/* Rest */

div.topic {
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 33%;
  float: left;
  background-color: grey;
}

div.topic img {
  height: 100%;
}

p.description {
  z-index: 1000;
  display: none;
  position: absolute;
  margin-left: 20px;
  bottom: 10px;
  color: #ffffff;
  font-size: 32px;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, "Verdana", "Arial", sans-serif;
}

div.post {
  margin: 0;
  padding: 0 48px;
  color: #12231e;
  font-size: 18px;
  font-family: "Verdana", "Arial", sans-serif;
}

div.post h1, div.post h2 {
  color: #5DB199;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, "Verdana", "Arial", sans-serif;
}

div.post img {
  margin: auto;
}

input[type=text] {
  margin: 0;
  padding: 0 4px;
  width: 130px;
  height: 20px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  background-color: #ffffff;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type=text]:focus {
    width: 100%;
}