@import url(//db.onlinewebfonts.com/c/09f6b2ba02572f19a7d7dd2b5f6494ad?family=Century+Gothic);

body {
  margin: 0;
  padding: 0;
}

div.col1, div.col2, div.col3 {
  position: relative;
  margin: 0;
  padding: 0;
  float: left;
}

div.header {
  position: fixed;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  /*height is in js section*/
  background-color: #09110f; /*for testing purposes only*/
}

div.header img {
  position: relative;
  width: 100%;
}

p.title, p.subtitle {
  position: fixed;
  margin: 0;
  padding: 0;
  width: 100%;
  color: #ffffff;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, "Verdana", "Arial", sans-serif;
  text-align: center;
}

p.title {
  z-index: 1;
  font-size: 72px;
  letter-spacing: -6px;
}

p.subtitle {
  z-index: 2;
  font-size: 16px;
}

div.tab {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #12231e;
}

ul.nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul.nav li {
  box-sizing: border-box;
  margin: 0;
  padding: 0 16px;
  float: left;
  color: #5DB199;
  font-size: 16px;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, "Verdana", "Arial", sans-serif;
  text-align: center;
}

ul.nav li:hover, #nav-btn:hover {
  background-color: #25463d;
}

#nav-btn {
  margin-right: 8px;
  float: right;
  height: 100%
}
